# =============================
# Python
# =============================
__pycache__/
*.py[cod]
*$py.class

# =============================
# Entornos virtuales
# =============================
venv/
.venv/
env/
.env/

# =============================
# IDEs / Editores
# =============================
.vscode/
.idea/
*.swp

# =============================
# Sistema operativo
# =============================
.DS_Store
Thumbs.db

# =============================
# Otros archivos temporales
# =============================
*.tmp
*.bak

# =============================
# Archivos de logs
# =============================
*.log